<html>
<head>
<meta name="viewport" content="width=device-width, initial scale=1" />
<link rel="stylesheet" href="responsive.css" />

<script type="text/javascript" src='javascript.js'>
</script>
</head>
<body bgcolor="white">

<hr size="4" color="darkblue">
<hr size="4" color="purple">
<font color="purple"><h1 align="center"><i><b><u>11th lesson</u></b></i></h1></font>
<hr size="4" color="purple">
<hr size="4" color="darkblue">
<font color="blue">
<form action='form'>
<input type='submit' value='Registration'>
</form>

<form>
select color <input type="color"><br>
choose date <input type="date"><br>
choose number <input type="number" min="1" max="10" ><br>
enter your email <input type="email"><br>
type url <input type="url"><br>
</form>

<dl>
<dt >other inputs</dt>
<dd><form method=post action="/cgibin/example.cgi">
<table border="0" cellspacing="0" cellpadding="2">
<tr>
     <td bgcolor="#8463ff">
     <input type="text" size="10" maxlength="30">
     </td>
     <td bgcolor="#8463ff" valign="middle">
     <input type="image" name="submit" src="file//storage/sdcard0/bird.jpg">
     </td>
     </tr>
     </table>
     <p align="right"> <input type="submit" ></p>
     </form>
</dd>
<dt>2 other input</dt>
<dd><span style='color: white;'>click here</span><form action="page">
<center>
select an option:
	<select>
	<opition>option 1</option>
	 <opition selected>option 2</option>
	 <opition>option 3</option>
	 <opition>option 4</option>
	 <opition>option 5</option>
	 <opition>option 6</option>
</select><br>
<input type="submit" value="submit"></center>
</form>	 
</dd>
</dl>

</form>
</font>
<a href="10th lesson.html">previuos lesson</a>  <p align="right"><a href="12th lesson.html">next lesson</a></p>
</body>
</html>